body {
    background-color: #AEEEEE;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}


.header {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
    font-size: 33px;
}

.column {
    float: left;
    width: 33.33%;
    padding: 10px;
}

.footer {

}

.maps {
    float: left;
    padding: 30px;
    position: relative;
}